{% block sw_cms_block_history_preview %}
    <div class="sw-cms-preview-history">
        <div class="sw-cms-preview-history--navigation">
            <span>2020</span>
            <span>2021</span>
            <span>2022</span>
        </div>
        <div class="sw-cms-preview-history--content">
            <ul>
                <li>lorem ipsum</li>
                <li>dolor sit amet</li>
            </ul>
        </div>
    </div>
{% endblock %}