<div style="font-family:arial; font-size:12px;">
    <br/>
    <p>
        {{ customer.salutation.translated.letterName }} {{ customer.lastName }},<br/>
        <br/>
        Merci de votre intérêt pour les conditions du groupe de clients {{ customerGroup.translated.name }}.<br/>
        Malheureusement, nous ne pouvons pas vous valider pour ce groupe de clients.<br/>
        Pour toute question, n'hésitez pas à nous contacter par téléphone ou par e-mail à ce sujet.
    </p>
</div>