<div style="font-family:arial; font-size:12px;">
    <p>
        Bonjour {{ customer.salutation.translated.displayName }} {{ customer.lastName }},<br/>
        <br/>
        Veuillez confirmer votre adresse e-mail via le lien suivant :<br/>
        <br/>
        <a href="{{ confirmUrl }}">Confirmer l'e-mail</a><br/>
        <br/>
        Après la confirmation, vous serez dirigé vers la finalisation de la commande, où vous pourrez vérifier et terminer votre commande une nouvelle fois.<br/>
        Par cette confirmation, vous acceptez également que nous puissions vous envoyer d'autres e-mails dans le cadre de l'exécution du contrat.
    </p>
</div>