{% block sw_cms_block_icon_teaser %}
    <div class="sw-cms-block-title-button">
        <div class="ww-label-block">{{ $tc('sw-cms.blocks.title-button.label') }}</div>
        <slot name="left"></slot>
        <slot name="right"></slot>
    </div>
{% endblock %}