{% block sw_cms_preview_faq_select %}
    <div class="sw-cms-preview-faq-select">
       <div class="sw-cms-preview-faq-select-item">
           <h2>{{ $tc('faq.blocks.faq.select.previewTitle') }}</h2>
           <div>
               <div></div>
               <div></div>
           </div>
       </div>
    </div>
{% endblock %}
