{% block sw_cms_block_intro_teaser_preview %}
    <div class="sw-cms-preview-intro-teaser">
        <div class="sw-cms-preview-intro-teaser-block-text">
            <h2>Title</h2>
        </div>
        <div class="sw-cms-preview-intro-teaser-block-text">
            Intro Text Donec posuere vulputate arcu. Curabitur a felis in nunc fringilla tristique.
        </div>
    </div>
{% endblock %}