{% block sw_cms_block_hero_header %}
    <div class="sw-cms-block-hero-header">
        <div class="ww-label-block">{{ $tc('sw-cms.blocks.hero-header.label') }}</div>
        <slot name="header"></slot>
    </div>
{% endblock %}