{% block sw_cms_block_table_of_contents_preview %}
    <div class="sw-cms-preview-table-of-contents">
        <h2>Inhaltsverzeichnis</h2>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
{% endblock %}