{% block sw_cms_element_faq_select_element %}
<div class="sw-cms-el-faq-select-element">
    <h2>{{ $tc('faq.elements.select.label') }}</h2>

    <sw-alert variant="info">
        {{ $tc('faq.elements.select.elementText') }}
    </sw-alert>
</div>
{% endblock %}
