<div style="font-family:arial; font-size:12px;">
    <br/>
    <p>
        {{ customer.salutation.translated.letterName }} {{ customer.lastName }},<br/>
        <br/>
        Votre compte a été activé pour le groupe de clients {{ customerGroup.translated.name }}.<br/>
        Désormais, vous achetez aux nouvelles conditions de ce groupe de clients.<br/>
        Nous restons à votre entière disposition pour toute question.
    </p>
</div>