<div style="font-family:arial; font-size:12px;">
    <p>
        Bonjour,<br/>
        <br/>
        merci de l'intérêt que vous portez à nos prix de gros. Malheureusement, nous n'avons pas encore reçu d'authentification de revendeur et nous ne pouvons donc pas confirmer votre demande.<br/>
        Si vous avez d'autres questions, n'hésitez pas à nous contacter par téléphone, fax ou e-mail.<br/>
    </p>
</div>