{% block sw_cms_element_faq_select_element %}
    <div class="sw-cms-el-preview-faq-select-element">
        <h6>{{ $tc('faq.elements.select.previewText') }}</h6>
        <div class="sw-cms-el-category-placeholder-listing">
            <div class="sw-cms-el-category-navigation__placeholder"></div>
            <div class="sw-cms-el-category-navigation__placeholder"></div>
        </div>
    </div>
{% endblock %}
