
.sw-cms-el-preview-faq-select-element {
    width: 100%;
    background: #fff;
    font-size: 22px;
    color: gray;
    font-weight: 600;

    h6 {
        font-size: 14px;
        margin: auto 10px auto 0;
    }

    .sw-cms-el-category-placeholder-listing div {
        margin: 7px 0;
        height: 0.4em;
        border-radius: 25px;
        background-color: gray;
    }
}
