APP_ENV=dev
APP_URL=http://127.0.0.1:8000
DATABASE_URL=mysql://shopware:shopware@127.0.0.1:3306/shopware

AWS_CDN_DOMAIN=""
AWS_BUCKET=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

SHOPWARE_SKIP_WEBINSTALLER=1
COMPOSER_PLUGIN_LOADER=1

SHOPWARE_CDN_STRATEGY_DEFAULT=id

JWT_PUBLIC_KEY=
JWT_PRIVATE_KEY=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB_APP_CACHE=0
REDIS_DB_SESSION=1

SHOPWARE_ES_ENABLED=1
SHOPWARE_ES_INDEXING_ENABLED=1

LICENSE_DOMAIN=""
SHOP_ID=""

OPENSEARCH_URL=
OPENSEARCH_BASIC_AUTH_ENABLED=0
OPENSEARCH_BASIC_AUTH_USER=
OPENSEARCH_BASIC_AUTH_PASSWORD=
ES_MULTILINGUAL_INDEX=1

MAIN_DOMAIN=""
DEVELOP_DOMAIN=""

ABACUS_TEST_LIVE_API_URL=
ABACUS_TEST_MANDANT_NUMBER=

SHOPWARE_ES_INDEX_PREFIX=
SHOPWARE_ES_THROW_EXCEPTION=
