{% block sw_cms_el_faq_category_listing %}
<div class="sw-cms-el-faq-category-listing">
    <h2>{{ $tc('faq.elements.listing.component.elementTitle') }}</h2>

    <sw-alert variant="info">
        {{ $tc('faq.elements.listing.component.elementText') }}
    </sw-alert>
</div>
{% endblock %}
