<div style="font-family:arial; font-size:12px;">
    <p>
        Bonjour {{ userRecovery.user.firstName }} {{ userRecovery.user.lastName }},<br/>
        <br/>
        Une demande a été faite pour réinitialiser votre mot de passe.
        Veuillez confirmer le lien ci-dessous pour définir un nouveau mot de passe.<br/>
        <br/>
        <a href="{{ resetUrl }}">Réinitialiser le mot de passe</a><br/>
        <br/>
        Ce lien n'est valable que pour les 2 prochaines heures. Passé ce délai, la réinitialisation du mot de passe devra être demandée à nouveau.
        Si vous ne souhaitez pas réinitialiser votre mot de passe, ignorez cet e-mail - aucune modification ne sera effectuée.
    </p>
</div>
