.sw-cms-preview-category-filter {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 20px;
  > div {
    height: 20px;
    background: lightblue;
    border-radius: 10px;
  }
}