{% block sw_cms_block_category_filter_preview %}
    <div class="sw-cms-preview-category-filter">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
{% endblock %}