{% block sw_cms_block_table_of_contents_preview %}
    <div class="sw-cms-preview-table-of-contents-element">
        <h5>Inhaltsverzeichnis</h5>
        <div></div>
        <div></div>
        <div></div>
    </div>
{% endblock %}