.sw-cms-preview-table-of-contents-element {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    > div {
        height: 10px;
        background: lightblue;
        border-radius: 4px;
    }
}