<div style="font-family:arial; font-size:12px;">
    <p>
        Bonjour,<br/>
        <br/>
        votre compte revendeur chez {{ salesChannel.translated.name }} a été activé.<br/>
        À partir de maintenant, nous vous facturerons le prix net.
    </p>
</div>