{% block block_five_image_element %}
    {% set backgroundImage = null %}
    {% set fiveImageOne = null %}
    {% set fiveImageTwo = null %}
    {% set fiveImageThree = null %}
    {% set fiveImageFour = null %}
    {% set fiveImageFive = null %}
    {% if element.config.backgroundImage.value %}
        {% set mediaCollectionBackground = searchMedia([element.config.backgroundImage.value], context.context) %}
        {% set backgroundImage =  mediaCollectionBackground.elements|first %}
    {% endif %}
    {% if element.config.fiveImageOne.value %}
        {% set mediaCollectionOne = searchMedia([element.config.fiveImageOne.value], context.context) %}
        {% set fiveImageOne =  mediaCollectionOne.elements|first %}
    {% endif %}
    {% if element.config.fiveImageTwo.value %}
        {% set mediaCollectionTwo = searchMedia([element.config.fiveImageTwo.value], context.context) %}
        {% set fiveImageTwo =  mediaCollectionTwo.elements|first %}
    {% endif %}
    {% if element.config.fiveImageThree.value %}
        {% set mediaCollectionThree = searchMedia([element.config.fiveImageThree.value], context.context) %}
        {% set fiveImageThree =  mediaCollectionThree.elements|first %}
    {% endif %}
    {% if element.config.fiveImageFour.value %}
        {% set mediaCollectionFour = searchMedia([element.config.fiveImageFour.value], context.context) %}
        {% set fiveImageFour =  mediaCollectionFour.elements|first %}
    {% endif %}
    {% if element.config.fiveImageFive.value %}
        {% set mediaCollectionFive = searchMedia([element.config.fiveImageFive.value], context.context) %}
        {% set fiveImageFive =  mediaCollectionFive.elements|first %}
    {% endif %}
    {% if backgroundImage or fiveImageOne or fiveImageTwo or fiveImageThree or fiveImageFour or fiveImageFive %}
        <div class="five-image">
            <div class="five-image-overlay-wrapper">
                {% if fiveImageOne %}
                    <div class="five-image--overlay">
                        {% sw_thumbnails 'overlay-image-one' with {
                            media: fiveImageOne,
                            sizes: {
                                'xs': '680px',
                                'sm': '680px',
                                'md': '680px',
                                'lg': '1040px',
                                'xl': '1040px',
                            },
                            attributes: {
                                'alt': fiveImageOne.alt,
                                'loading': 'lazy',
                            }
                        } %}
                    </div>
                {% endif %}
                {% if fiveImageTwo %}
                    <div class="five-image--overlay">
                        {% sw_thumbnails 'overlay-image-two' with {
                            media: fiveImageTwo,
                            sizes: {
                                'xs': '680px',
                                'sm': '680px',
                                'md': '680px',
                                'lg': '1040px',
                                'xl': '1040px',
                            },
                            attributes: {
                                'alt': fiveImageTwo.alt,
                                'loading': 'lazy',
                            }
                        } %}
                    </div>
                {% endif %}
                {% if fiveImageThree %}
                    <div class="five-image--overlay">
                        {% sw_thumbnails 'overlay-image-three' with {
                            media: fiveImageThree,
                            sizes: {
                                'xs': '680px',
                                'sm': '680px',
                                'md': '680px',
                                'lg': '1040px',
                                'xl': '1040px',
                            },
                            attributes: {
                                'alt': fiveImageThree.alt,
                                'loading': 'lazy',
                            }
                        } %}
                    </div>
                {% endif %}
                {% if fiveImageFour %}
                    <div class="five-image--overlay">
                        {% sw_thumbnails 'overlay-image-four' with {
                            media: fiveImageFour,
                            sizes: {
                                'xs': '680px',
                                'sm': '680px',
                                'md': '680px',
                                'lg': '1040px',
                                'xl': '1040px',
                            },
                            attributes: {
                                'alt': fiveImageFour.alt,
                                'loading': 'lazy',
                            }
                        } %}
                    </div>
                {% endif %}
                {% if fiveImageFive %}
                    <div class="five-image--overlay">
                        {% sw_thumbnails 'overlay-image-five' with {
                            media: fiveImageFive,
                            sizes: {
                                'xs': '680px',
                                'sm': '680px',
                                'md': '680px',
                                'lg': '1040px',
                                'xl': '1040px',
                            },
                            attributes: {
                                'alt': fiveImageFive.alt,
                                'loading': 'lazy',
                            }
                        } %}
                    </div>
                {% endif %}
            </div>
            {% if backgroundImage %}
                <div class="five-image--background">
                    {% sw_thumbnails 'header-image' with {
                        media: backgroundImage,
                        sizes: {
                            'xs': '680px',
                            'sm': '680px',
                            'md': '680px',
                            'lg': '1040px',
                            'xl': '1040px',
                        },
                        attributes: {
                            'alt': backgroundImage.alt,
                            'loading': 'lazy',
                        }
                    } %}
                </div>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
