{% block block_category_listing_element %}
    {% set categories = element.data %}
    <div class="category-listing row">
        {% for category in categories %}
            <div class="category-listing-item {% if element.config.columns.value === '2' %}col-md-6{% else %}col-md-4{% endif %}">
                <a href="{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}">
                    {% if category.mediaId %}
                        <div class="category-listing-item__image">
                            {% set mediaCollection = searchMedia([category.mediaId], context.context) %}
                            {% set image =  mediaCollection.elements|first %}
                            {% sw_thumbnails 'header-image' with {
                                media: image,
                                sizes: {
                                    'xs': '680px',
                                    'sm': '680px',
                                    'md': '680px',
                                    'lg': '1040px',
                                    'xl': '1040px',
                                },
                                attributes: {
                                    'alt': image.alt,
                                    'loading': 'lazy',
                                }
                            } %}
                        </div>
                    {% endif %}
                    <div class="category-listing-item__name">
                        {{ category.translated.name }}  {% sw_icon 'arrow-right' style {'pack' : 'WebwirkungIcons'} %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
