{% block sw_cms_element_step_by_step_element %}
    <div class="sw-cms-el-step-by-step-element">
        <div class="ww-label-element">{{ $tc('sw-cms.elements.step-by-step-element.label') }}</div>
        <h2>{{ $tc('sw-cms.elements.step-by-step-element.component.title') }}</h2>
        <sw-alert variant="info">
            {{ $tc('sw-cms.elements.step-by-step-element.component.text') }}
        </sw-alert>
    </div>
{% endblock %}
