{% block sw_cms_block_hero_header_preview %}
    <div class="sw-cms-preview-double-image">
        <div class="sw-cms-preview-double-image-images">
            <img :src="assetFilter('/webwirkungvibraplasttheme/static/img/double-image-preview.png')" />
        </div>
    </div>
{% endblock %}