{% block sw_cms_element_label_text_button_preview %}
    <div class="sw-cms-el-preview-label-text-button">
        <div class="sw-cms-el-preview-label-text-button-text">
            LABEL<br>
            <b>Title</b><br>
            Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Nam ipsum risus, rutrum vitae
        </div>
    </div>
{% endblock %}
