{% block webwirkung_cms_element_glossary_category_listing_preview %}
<div class="sw-cms-el-preview-glossary-listing">
    <p>{{ $tc('webwirkung.glossary.blocks.glossary.listing.label') }}</p>
    <hr>
    <div class="sw-cms-el-glossary-category-placeholder-listing">
        <div class="sw-cms-el-glossary-category-navigation__placeholder"></div>
        <hr>
        <div class="sw-cms-el-glossary-category-navigation__placeholder"></div>
        <div class="sw-cms-el-glossary-category-navigation__placeholder--subcategory"></div>
        <div class="sw-cms-el-glossary-category-navigation__placeholder--subcategory"></div>
    </div>
</div>
{% endblock %}
