{% block sw_cms_block_category_listing_preview %}
    <div class="sw-cms-preview-category-listing">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
{% endblock %}