<div class="steps-controller">
    <div class="step-navigation-prev">
        <button type="button" id="prevBtn" class="btn btn-prev btn-secondary">
            {{ 'checkout.step-navigation.prev'|trans }}
        </button>
    </div>
    <div class="step-navigation-next">
        <button type="button" id="nextBtn" class="btn btn-primary">
            {{ 'checkout.step-navigation.next'|trans }}
        </button>
    </div>
</div>