.btn {
  &.btn-primary {
    --bs-btn-bg: #000080;
    --bs-btn-border-color: #000080;
    --bs-btn-hover-bg: #000066;
    --bs-btn-hover-border-color: #000066;
    --bs-btn-active-bg: #00004D;
    --bs-btn-active-border-color: #00004D;
    --bs-btn-disabled-bg: #6666D0;
    --bs-btn-disabled-border-color: #6666D0;
  }
  &.btn-secondary {
    --bs-btn-bg: #CC0000;
    --bs-btn-border-color: #CC0000;
    --bs-btn-hover-bg: #A30000;
    --bs-btn-hover-border-color: #A30000;
    --bs-btn-active-bg: #8A0000;
    --bs-btn-active-border-color: #8A0000;
    --bs-btn-disabled-bg: #E06666;
    --bs-btn-disabled-border-color: #E06666;

    &:hover {
      background-color: #A30000;
      border-color: #A30000;
    }
  }
}
