.btn {
  &.btn-primary {
    --bs-btn-bg: #0000B0;
    --bs-btn-border-color: #0000B0;
    --bs-btn-hover-bg: #00008D;
    --bs-btn-hover-border-color: #00008D;
    --bs-btn-active-bg: #00006A;
    --bs-btn-active-border-color: #00006A;
    --bs-btn-disabled-bg: #7070D8;
    --bs-btn-disabled-border-color: #7070D8;
  }
  &.btn-secondary {
    --bs-btn-bg: #ED1C24;
    --bs-btn-border-color: #ED1C24;
    --bs-btn-hover-bg: #C4151C;
    --bs-btn-hover-border-color: #C4151C;
    --bs-btn-active-bg: #9E1017;
    --bs-btn-active-border-color: #9E1017;
    --bs-btn-disabled-bg: #F47278;
    --bs-btn-disabled-border-color: #F47278;

    &:hover {
      background-color: #C4151C;
      border-color: #C4151C;
    }
  }
}
