{% block webwirkung_cms_element_faq_category_listing_preview %}
<div class="sw-cms-el-preview-faq-category-listing">
    <p>{{ $tc('faq.elements.listing.component.elementTitle') }}</p>
    <hr>
    <div class="sw-cms-el-faq-category-placeholder-listing">
        <div class="sw-cms-el-faq-category-navigation__placeholder"></div>
        <hr>
        <div class="sw-cms-el-faq-category-navigation__placeholder"></div>
        <div class="sw-cms-el-faq-category-navigation__placeholder--subcategory"></div>
        <div class="sw-cms-el-faq-category-navigation__placeholder--subcategory"></div>
    </div>
</div>
{% endblock %}
