{% block sw_cms_block_five_image_preview %}
    <div class="sw-cms-preview-five-image">
        <div class="sw-cms-preview-five-image-images">
            <img :src="assetFilter('/webwirkungvibraplasttheme/static/img/five-image-preview.png')" />
        </div>
    </div>
{% endblock %}