{% block sw_cms_block_category_filter %}
    <div class="sw-cms-block-category-filter">
        <div class="ww-label-block">{{ $tc('sw-cms.blocks.category-filter.label') }}</div>
        <slot name="content"></slot>
    </div>
{% endblock %}