{% block sw_cms_element_history_element %}
    <div class="sw-cms-el-history-element">
        <div class="ww-label-element">{{ $tc('sw-cms.elements.history-element.label') }}</div>
        <h2>{{ $tc('sw-cms.elements.history-element.component.title') }}</h2>
        <sw-alert variant="info">
            {{ $tc('sw-cms.elements.history-element.component.text') }}
        </sw-alert>
    </div>
{% endblock %}
