{% block sw_cms_element_googlemaps_element %}
    <div class="sw-cms-el-googlemaps-element">
        <div class="ww-label-element">{{ $tc('sw-cms.elements.googlemaps-element.label') }}</div>
        <h2>{{ $tc('sw-cms.elements.googlemaps-element.component.title') }}</h2>
        <sw-alert variant="info">
            {{ $tc('sw-cms.elements.googlemaps-element.component.text') }}
        </sw-alert>
    </div>
{% endblock %}