{% block sw_cms_block_hero_header_preview %}
    <div class="sw-cms-preview-5-7-column">
        <div class="sw-cms-preview-5-7-column-inner">
            <span></span>
            <div class="sw-cms-preview-5-7-column-block-text">
                Title
            </div>
        </div>
        <div class="sw-cms-preview-5-7-column-inner">
            Sed aliquam ultrices mauris. Fusce fermentum odio nec arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
        </div>
    </div>
{% endblock %}