{% sw_extends '@WebwirkungVibraplastTheme/storefront/layout/header/header.html.twig' %}

{% block base_navigation %}
    <div class="nav-main col-md-2 col-lg-2 col-xl-1 d-none d-lg-block">
        {% block base_navigation_inner %}
            {% sw_include '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}

{% block layout_header_search %}
    <div class="col-12 order-2 col-sm order-sm-1 header-search-col">
        <div class="row">
            <div class="col">
                {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}