<div style="font-family:arial; font-size:12px;">
    <p>
        Bonjour {{ employee.firstName }} {{ employee.lastName }},<br/>
        <br/>
        nous avons reçu une demande de réinitialisation du mot de passe de votre compte collaborateur pour la boutique {{ salesChannel.translated.name }}.<br/>
        Veuillez confirmer en cliquant sur le lien ci-dessous pour définir un nouveau mot de passe.<br/>
        <br/>
        <a href="{{ resetUrl }}">Réinitialiser le mot de passe</a><br/>
        <br/>
        Ce lien est valable pour les 2 prochaines heures. Vous pouvez demander un nouveau lien de confirmation à tout moment.<br/>
        Si vous ne souhaitez pas réinitialiser votre mot de passe, veuillez ignorer cet e-mail.<br/>
    </p>
</div>