<div style="font-family:arial; font-size:12px;">
    <br/>
    <p>
        The quote {{ quote.quoteNumber }} created on {{ quote.createdAt|format_datetime('medium', 'short', locale='en-GB') }} at {{ salesChannel.translated.name }} just received a change request.<br>
    </p>
</div>
