{% block sw_cms_block_table_of_contents %}
    <div class="sw-cms-block-table-of-contents">
        <div class="ww-label-block">{{ $tc('sw-cms.blocks.table-of-contents.label') }}</div>
        <slot name="content"></slot>
    </div>
{% endblock %}