{% block sw_cms_element_product_finder %}
    <div class="sw-cms-el-product-finder">
        <img :src="assetFilter('/webwirkungproductfinder/static/product-finder/product-finder-preview.png')" />
    </div>
{% endblock %}
