{% block sw_cms_block_banner_preview %}
    <div class="sw-cms-preview-banner">
        <img :src="assetFilter('/webwirkungvibraplasttheme/static/img/banner-preview.png')" />
    </div>
{% endblock %}