{% block sw_cms_block_step_by_step %}
    <div class="sw-cms-block-step-by-step">
        <div class="ww-label-block">{{ $tc('sw-cms.blocks.step-by-step.label') }}</div>
        <slot name="content">{% block sw_cms_block_webwirkung_step_by_step_slot_content %}{% endblock %}</slot>
    </div>
{% endblock %}