{% block sw_cms_element_googlemaps_element_preview %}
    <div class="sw-cms-el-preview-googlemaps-element">
        <img :src="assetFilter('/webwirkungvibraplasttheme/static/img/google-maps-preview.png')" />
    </div>
{% endblock %}