{% block sw_cms_element_variants_buy_table_preview %}
    <div class="sw-cms-el-preview-variants-buy-table">
        <img :src="assetFilter('/webwirkungvibraplasttheme/static/variants-buy-table/preview.png')" />
    </div>
{% endblock %}
