    Kind regards,
    <br /><br />
    {{ config('core.basicInformation.shopName') }}<br />
    {{ config('core.basicInformation.address')|raw }}<br />
    {{ config('core.basicInformation.email')|raw }}<br /><br>
    <div class="email-footer" style="background: #F7F5F5; text-align: center; font-family: Arial, sans-serif;">
        <br><br>
        <a href="#" style="color:#404040"><br /><br />
            <img src="" width="95" style="margin: 0 auto;" />
        </a>
        <br><br>
    </div>
</div>