{% block sw_cms_block_category_listing %}
    <div class="sw-cms-block-category-listing">
        <div class="ww-label-block">{{ $tc('sw-cms.blocks.category-listing.label') }}</div>
        <slot name="content"></slot>
    </div>
{% endblock %}