{% block sw_cms_block_hero_header_preview %}
    <div class="sw-cms-preview-title-button">
        <div class="sw-cms-preview-title-button-title">
            Title
        </div>
        <div class="sw-cms-preview-title-button-button sw-cms-product-box-preview__action">
            Button
        </div>
    </div>
{% endblock %}