{% block sw_cms_block_image_caption_preview %}
    <div class="sw-cms-preview-image-caption">
        <div class="sw-cms-preview-image-caption-image">
            <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" />
        </div>
        <div class="sw-cms-preview-image-caption-text">
            Bildunterschrift
        </div>
    </div>
{% endblock %}