            <div style="font-family:arial; font-size:12px;">
                <p>
                    Bonjour {{ customer.salutation.translated.displayName }} {{ customer.lastName }},<br/>
                    <br/>
                    merci de vous être inscrit sur {{ salesChannel.translated.name }}.<br/>
                    Veuillez confirmer votre inscription en cliquant sur le lien suivant :<br/>
                    <br/>
                    <a href="{{ confirmUrl }}">Terminer l'inscription</a><br/>
                    <br/>
                    Par cette confirmation, vous acceptez également que nous puissions vous envoyer d'autres e-mails dans le cadre de l'exécution du contrat.
                </p>
            </div>