{% block sw_cms_block_banner_element_preview %}
    <div class="sw-cms-preview-banner-element">
        <img :src="assetFilter('/webwirkungvibraplasttheme/static/img/banner-preview.png')" />
    </div>
{% endblock %}