{% block sw_cms_element_sub_category_listing_element %}
    <div class="sw-cms-el-sub-category-listing-element">
        <div class="ww-label-element">{{ $tc('sw-cms.elements.sub-category-listing-element.label') }}</div>
        <h2>{{ $tc('sw-cms.elements.sub-category-listing-element.component.title') }}</h2>
        <sw-alert variant="info">
            {{ $tc('sw-cms.elements.sub-category-listing-element.component.text') }}
        </sw-alert>
    </div>
{% endblock %}
