{% block sw_cms_el_glossary_category_listing %}
<div class="sw-cms-el-glossary-listing">
    <h2>{{ $tc('webwirkung.glossary.elements.glossary.listing.label') }}</h2>

    <sw-alert variant="info">
        {{ $tc('webwirkung.glossary.elements.glossary.listing.description') }}
    </sw-alert>
</div>
{% endblock %}
