{% block sw_cms_block_accordion_preview %}
    <div class="sw-cms-preview-accordion">
        <img :src="assetFilter('/webwirkungvibraplasttheme/static/img/accordion-preview.png')" />
    </div>
{% endblock %}
