<div style="font-family:arial, sans-serif; font-size:12px;">
    <h3>Hallo</h3>
    <p>vielen Dank für Ihr Interesse an unserem Newsletter!</p>
    <p>Um Missbrauch Ihrer E-Mail-Adresse zu vermeiden, haben wir Ihnen diese Bestätigungsmail gesendet. Bitte bestätigen Sie, dass Sie den Newsletter regelmässig erhalten möchten, indem Sie <a href="{{ url }}">hier</a> klicken.</p>
    <p>Falls Sie den Newsletter nicht angefordert haben, können Sie diese E-Mail einfach ignorieren.</p>
</div>
