{% block sw_cms_preview_faq_listing %}
<div class="sw-cms-preview-faq-listing">
    <div class="sw-cms-preview-faq-listing-item">
        <h2>{{ $tc('faq.blocks.faq.listing.previewTitle') }}</h2>
        <div>
            <div></div>
            <div></div>
        </div>
        <div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
{% endblock %}
