.historyItem {
  margin: 0 0 30px;
  padding: 20px;
  background-color: #e2ecef;
  border-radius: 12px;

  .sw-media-compact-upload-v2.sw-media-upload-v2 .sw-media-upload-v2__preview {
    width: 96px;
    height: 96px;
  }
}
