{% block sw_cms_block_hero_header_preview %}
    <div class="sw-cms-preview-hero-header">
        <div class="sw-cms-preview-hero-header-overlay">
            <div class="sw-cms-preview-hero-header-block-text">
                Title
            </div>
            <div class="sw-cms-preview-hero-header-block-text">
                Intro Text
            </div>
        </div>
        <div class="sw-cms-preview-hero-header-images">
            <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" />
        </div>
    </div>
{% endblock %}