<div>
    <sw-tabs
            class="sw-cms-el-config-text__tabs"
            default-item="content"
    >
        <template #default="{ active }">
            <sw-tabs-item
                    :title="$tc('sw-cms.elements.general.config.tab.content')"
                    name="content"
                    :active-tab="active"
            >
                {{ $tc('sw-cms.elements.general.config.tab.content') }}
            </sw-tabs-item>
        </template>

        <template
                #content="{ active }"
        >
            <sw-container
                    v-if="active === 'content'"
                    class="sw-cms-el-config-text__tab-content"
            >
                <sw-media-upload-v2
                        variant="regular"
                        :upload-tag="uploadimageCaptionImageTag"
                        :source="previewimageCaptionImageSource"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :label="$tc('sw-cms.elements.image-caption-element.config.imageCaptionImage')"
                        @media-upload-sidebar-open="onOpenimageCaptionImageModal"
                        @media-upload-remove-image="onimageCaptionImageRemove"
                ></sw-media-upload-v2>
                <sw-upload-listener
                        :upload-tag="uploadimageCaptionImageTag"
                        auto-upload
                        @media-upload-finish="onimageCaptionImageUpload"
                ></sw-upload-listener>
                <sw-media-modal-v2
                        v-if="imageCaptionImageModalIsOpen"
                        variant="full"
                        :caption="$tc('sw-cms.elements.image-caption-element.config.image')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onimageCaptionImageRemove"
                        @media-modal-selection-change="onimageCaptionImageSelectionChanges"
                        @modal-close="onCloseimageCaptionImageModal"
                ></sw-media-modal-v2>
                <br><br>
                <sw-text-field
                        v-model:value="imageCaption"
                        class="ww-text-field"
                        :label="$tc('sw-cms.elements.image-caption-element.config.imageCaption')"
                        @input="onElementUpdateContent"
                        @change="onElementUpdateContent"
                ></sw-text-field>

            </sw-container>
        </template>
    </sw-tabs>
</div>