{% block sw_cms_element_variants_buy_table %}
    <div class="sw-cms-el-variants-buy-table">
        <img
                :src="'/webwirkungvibraplasttheme/static/variants-buy-table/preview.png' | asset"
                alt=""
        >
    </div>
{% endblock %}
