<div style="font-family:arial; font-size:12px;">
    <h3>{{ customer.salutation.translated.letterName }} {{customer.firstName}} {{ customer.lastName }}</h3>
            <p>
                <br/>
                vielen Dank für Ihre Anmeldung bei Vibraplast.<br/>
                Sie erhalten Zugang über die E-Mail-Adresse <strong>{{ customer.email }}</strong> und das von Ihnen gewählte Passwort Dieses können Sie jederzeit ändern.<br/>
            </p>
        </div>
