{% block sw_cms_block_variants_buy_table %}
    <div class="sw-cms-block-variants-buy-table">
        <slot name="content">{% block sw_cms_block_webwirkung_variants_buy_table_slot_content %}{% endblock %}</slot>
    </div>
{% endblock %}