{% block sw_cms_preview_glossary_listing %}
<div class="sw-cms-preview-glossary-listing">
    <div class="sw-cms-preview-glossary-listing-item">
        <h2>{{ $tc('webwirkung.glossary.blocks.glossary.listing.label') }}</h2>
        <div>
            <div></div>
            <div></div>
        </div>
        <div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
{% endblock %}
