{% block sw_cms_element_hero_header_element %}
    <div class="sw-cms-el-hero-header-element">
        <div class="ww-label-element">{{ $tc('sw-cms.elements.hero-header-element.label') }}</div>
        <h2>{{ $tc('sw-cms.elements.hero-header-element.component.title') }}</h2>
        <sw-alert variant="info">
            {{ $tc('sw-cms.elements.hero-header-element.component.text') }}
        </sw-alert>
    </div>
{% endblock %}
