{% block sw_cms_element_hero_header_preview %}
    <div class="sw-cms-el-preview-icon-teaser-element">
        <div class="sw-cms-el-preview-icon-teaser-element-inner">
            <span></span>
            <div class="sw-cms-el-preview-icon-teaser-element-block-text">
                Title
            </div>
            <div class="sw-cms-el-preview-icon-teaser-element-block-text">
                Intro Text
            </div>
        </div>
    </div>
{% endblock %}