{% block sas_cms_preview_similar_listing %}
<div class="sas-cms-preview-similar-listing">
    <div class="sas-cms-preview-similar-listing-item">
        <h2>{{ $tc('sas-blog.blocks.blog.similarListing.previewTitle') }}</h2>
        <div>
            <div></div>
            <div></div>
        </div>
        <div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
{% endblock %}
