{% block sw_cms_block_image_caption %}
    <div class="sw-cms-block-image-caption">
        <div class="ww-label-block">{{ $tc('sw-cms.blocks.image-caption.label') }}</div>
        <slot name="content"></slot>
    </div>
{% endblock %}