{% block sw_cms_element_table_of_contents_element %}
    <div class="sw-cms-el-table-of-contents-element">
        <div class="ww-label-element">{{ $tc('sw-cms.elements.table-of-contents-element.label') }}</div>
        <h2>{{ $tc('sw-cms.elements.table-of-contents-element.component.title') }}</h2>
        <sw-alert variant="info">
            {{ $tc('sw-cms.elements.table-of-contents-element.component.text') }}
        </sw-alert>
    </div>
{% endblock %}
