{% block sw_cms_preview_product_finder %}
    <div class="sw-cms-preview-product-finder">
        <img :src="assetFilter('/webwirkungproductfinder/static/product-finder/product-finder-preview.png')" />
    </div>
{% endblock %}
