<div>
    <sw-tabs
            class="sw-cms-el-config-text__tabs"
            default-item="content"
    >
        <template #default="{ active }">
            <sw-tabs-item
                    :title="$tc('sw-cms.elements.general.config.tab.content')"
                    name="content"
                    :active-tab="active"
            >
                {{ $tc('sw-cms.elements.general.config.tab.content') }}
            </sw-tabs-item>
        </template>

        <template
                #content="{ active }"
        >
            <sw-container
                    v-if="active === 'content'"
                    class="sw-cms-el-config-text__tab-content"
            >
                <sw-select-field
                        :label="$tc('sw-cms.elements.label-text-button.config.alignment.label')"
                        v-model:value="alignment"
                >
                    <option value="left">{{ $tc('sw-cms.elements.label-text-button.config.alignment.left') }}</option>
                    <option value="center">{{ $tc('sw-cms.elements.label-text-button.config.alignment.center') }}</option>
                </sw-select-field>
                <sw-text-field
                        v-model:value="label"
                        class="swag-iframe-field"
                        label="Label"
                        @input="onElementUpdateContent"
                        @change="onElementUpdateContent">
                </sw-text-field>
                <sw-text-editor
                        v-model:value="longText"
                        class="swag-iframe-field"
                        label="Text"
                        @input="onElementUpdateContent"
                        @change="onElementUpdateContent"
                />

            </sw-container>
        </template>
    </sw-tabs>
</div>