{% block sw_cms_block_sub_category_listing_preview %}
    <div class="sw-cms-preview-sub-category-listing">
        <img :src="'/bundles/webwirkungvibraplasttheme/static/img/sub-category-listing-preview.png'" alt="">
    </div>
{% endblock %}
