{% block sw_cms_block_icon_teaser %}
    <div class="sw-cms-block-icon-teaser-three-col">
        <div class="ww-label-block">{{ $tc('sw-cms.blocks.icon-teaser-three-col.label') }}</div>
        <slot name="left"></slot>
        <slot name="center"></slot>
        <slot name="right"></slot>
    </div>
{% endblock %}