.sw-cms-section {
    &.is--narrow {
        .sw-cms-section__wrapper {
            display: grid;
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
            padding: 20px;
        }
    }
}
