<div style="font-family:arial; font-size:12px;">
    {% if order.orderCustomer.salutation %}{{ order.orderCustomer.salutation.translated.letterName ~ ' ' }}{% endif %}{{ order.orderCustomer.firstName }} {{ order.orderCustomer.lastName }},<br>
    <br>
    Vous trouverez en pièce jointe de cet e-mail l'avoir pour votre commande numéro : {{ order.orderNumber }}<br>
    <br>
    N'hésitez pas à nous contacter pour toute question.
    <br>
</div>