{% block sw_cms_element_vertical_shop_advantages_slider %}
    <div class="sw-cms-el-preview-product-finder">
        <img :src="assetFilter('/webwirkungproductfinder/static/product-finder/product-finder-preview.png')" />
    </div>
{% endblock %}
