{% block sw_cms_block_googlemaps %}
    <div class="sw-cms-block-googlemaps">
        <div class="ww-label-block">{{ $tc('sw-cms.blocks.googlemaps.label') }}</div>
        <slot name="content">{% block sw_cms_block_webwirkung_googlemaps_slot_content %}{% endblock %}</slot>
    </div>
{% endblock %}