{% block sw_cms_block_hero_header %}
    <div class="sw-cms-block-intro-teaser">
        <div class="ww-label-block">{{ $tc('sw-cms.blocks.intro-teaser.label') }}</div>
        <slot name="title"></slot>
        <slot name="text"></slot>
    </div>
{% endblock %}