{% block sw_cms_block_header_slider_preview %}
    <div class="sw-cms-preview-header-slider">
        <div class="sw-cms-preview-header-slider-overlay">
            <span class="arrow"><</span>
            <div class="sw-cms-preview-header-slider-text">
                <h2>Lorem ipsum dolor</h2>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.
                </p>
            </div>
            <span class="arrow">></span>
        </div>
        <div class="sw-cms-preview-header-slider-images">
            <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" />
        </div>
    </div>
{% endblock %}