{% block sw_cms_block_googlemaps_preview %}
    <div class="sw-cms-preview-googlemaps">
        <img :src="assetFilter('/webwirkungvibraplasttheme/static/img/google-maps-preview.png')" />
    </div>
{% endblock %}